
.aanbod-ctlr .ath-car-offer-enty-hdr{
	padding-bottom: 37px;
}
.aanbod-ctlr .ath-car-offer-enty-hdr-inr p{
	margin-bottom: 12px;
}

.ath-car-offer-link span{
	display: inline-block;
	vertical-align: baseline;
	color: #4e4e50;
	margin-right: 18px;
}
.ath-car-offer-link ul{
	display: inline-block;
	vertical-align: baseline;
	margin-left: -10px;
	margin-right: -10px;
}
.ath-car-offer-link ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
}
.ath-car-offer-link ul li a{
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 20px;
	background: #132f40;
	color: #fff;
	font-size: 22px;
}