.long-description-sec{
	padding: 50px 0 22px 0;
	background: #eff0f0;
}

.breadcrumbs-sec{
	background: #f8f8f8;
	padding: 11px 0;
}
.breadcrumbs-cntlr{
	padding-left: 136px;
}
.breadcrumbs-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.breadcrumbs-cntlr ul li{
	padding: 0 11px;
	position: relative;
	line-height: 1;
}
.breadcrumbs-cntlr ul li:first-child{
	padding-left: 25px;
}
.breadcrumbs-cntlr ul li:last-child{
	padding-right: 0;
}
.breadcrumbs-cntlr ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('../images/breadcump-angle-icon.png');
    width: 4px;
    height: 4px;
    margin-top: 3px;
}
.breadcrumbs-cntlr ul li:last-child:after{
	content: none;
}
.breadcrumbs-cntlr ul li:first-child a:before{
    content: "";
    position: absolute;
    left: 0;
    margin: 1px 0 0 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 9px;
    background: url('../images/breadcum-icon.png');
}
.breadcrumbs-cntlr ul li a,
.breadcrumbs-cntlr ul li:last-child span,
.breadcrumbs-cntlr ul li.active span{
	display: inline-block;
	color: #454545;
	font-size: 13px;
	font-weight: 100;
}
.breadcrumbs-cntlr ul li a:hover,
.breadcrumbs-cntlr ul li.active a,
.breadcrumbs-cntlr ul li.active span
.breadcrumbs-cntlr ul li:last-child span:hover{
	color: #dc1f2e;
}




/*entry hdr*/

.car-entry-sec{
	padding: 32px 0 25px;
	background: #eff0f0;
}

.car-entry-sec-inr p{
	margin-bottom: 28px;
}
.car-ctlr .ath-car-grd-item-catagory{
	position: inherit;
}


.car-product-gallery{
	margin-top: 30px;
	margin-bottom: 35px;
}

.thumbnails-cntlr{
	float: left;
	width: 25.1121%;
}
.woocommerce-product-gallery{
	float: left;
	width: 74.8878%;
}
.woocommerce-product-gallery__image{
	text-align: center;
	position: relative;
} 
.woocommerce-product-gallery__image a{
	height: 580px;
	display: block;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.woocommerce-product-gallery__image img{
	width: 100%;
}



.car-product-gallery-inr .thumbnails{
	position: relative;
	margin-right: 12px;
}

.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image{
	padding-bottom: 10px;
}
.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child{
	padding-bottom: 0;
}
.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image a{
	display: block;
	height: 186px;
	width: 100%;
	overflow: hidden;
	position: relative;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image a img{
	width: 100%;
	height: 100%;
}

.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child a{
	background: #132f40;
	color: #fff;
}

.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 44px;
	line-height: 1.18;
	padding: 0 0 15px 10px;
	color: #fff;
	text-align: left;
	display: block;
}


/*responsive*/
@media(max-width: 991px){
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span{
		font-size: 37px;
	}
	.woocommerce-product-gallery{
		width: 100%;
	}
	.thumbnails-cntlr{
		width: 100%;
		margin-top: 15px;
	}
	.car-product-gallery-inr .thumbnails{
		margin-left: -10px;
		margin-right: -10px;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image{
		width: 33.3333%;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.car-product-gallery-inr{
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
	}
	.woocommerce-product-gallery__image a{
		height: 450px;
		background-size: 100% 100%!important;
	}
}
@media(max-width: 767px){
	.breadcrumbs-sec{
		display: none;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span {
	    font-size: 32px;
	}
	.long-description-sec{
		padding-top: 40px;
	}
}

@media(max-width: 575px){
	.car-ctlr .ath-coeh-title{
		line-height: 1.2;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span {
	    font-size: 28px;
	}
	.long-description-sec{
		padding-top: 30px;
	}
	/*.woocommerce-product-gallery{
		padding-right: 108px;
		position: relative;
	}
	.thumbnails-cntlr{
		position: absolute;
		right: 0;
		top: 0;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image{
		max-width: 100px;
		width: 100%;
	}*/
	.woocommerce-product-gallery {
	    width: 65%;
	}
	.thumbnails-cntlr{
		width: 35%;
		margin-top: 0;
		padding-left: 10px;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image{
		width: 100%;
	}
	.woocommerce-product-gallery__image a{
		height: 380px;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image a{
		height: 120px;
	}
}
@media(max-width: 479px){
	.car-ctlr .ath-car-grd-item-catagory ul li{
		padding-bottom: 6px;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span {
	    font-size: 22px;
	}
	.woocommerce-product-gallery__image a {
	    height: 300px;
	}
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image a {
	    height: 93px;
	}
}
@media(max-width: 359px){
	.car-product-gallery-inr .thumbnails .woocommerce-product-gallery__image:last-child span {
	    font-size: 18px;
	}
}