.footer-wrp{
	margin-top: 160px;
}

.ftr-top{
	background: #dc1f2e;
	border-bottom: 11px solid #d3d3d3;
}

.ftr-top-lft{
	float: left;
	width: 70%;
	padding-right: 100px;
	padding-top: 22px;
}
.ftr-top-rgt{
	float: right;
	width: 30%;
}

.ftr-top-lft-menu{
	float: left;
}
.col-menu-1{
	width: 30.8823%;
	padding-right: 20px;
}
.col-menu-2{
	width: 38.2352%;
	padding-right: 20px;
}
.col-menu-3{
	width: 30.8823%;
	padding-right: 20px;
}

.ftr-menu-title{
	display: block;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 700;
	color: #fff;
}
.ftr-top-lft-menu ul li{
	padding-bottom: 2px;
}
.ftr-top-lft-menu ul li a{
	color: #fff; 
}
.ftr-top-lft-menu ul li a:hover{
	color: #132f40;
}

.ftr-top-rgt{
	background: #eff0f0;
	position: relative;
	padding-top: 22px;
	padding-left: 130px;
	padding-bottom: 100px;
	margin-top: -1px;
	margin-right: -1px;
}
.ftr-logo{
	position: absolute;
	top: -70px;
	left: -100px;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-top-rgt-menu ul li{
	padding-bottom: 30px;
}
.ftr-top-rgt-menu ul li a{
	font-size: 20px;
	color: #000000;
}
.ftr-top-rgt-menu ul li a:hover{
	color: #dc1f2e;
}

.ftr-top{
	position: relative;
}
.ftr-top-rgt-gray-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #eff0f0;
	margin-top: -1px;
}


.ftr-btm{
	padding-top: 20px;
	padding-bottom: 20px;
}
.ftr-copywrite{
	float: left;
}
.ftr-btn-menu{
	float: right;
}

.ftr-copywrite p{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1;
	color: #000000;
	font-weight: 200;
}

.ftr-btn-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 13px;
	padding-right: 13px;
}
.ftr-btn-menu ul li:first-child{
	padding-left: 0;
}
.ftr-btn-menu ul li:last-child{
	padding-right: 0;
}
.ftr-btn-menu ul li a{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1;
	color: #000000;
	font-weight: 200;
}
.ftr-btn-menu ul li a:hover{
	color: #dc1f2e;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-top-rgt-menu ul li a br{
		display: none;
	}
	.ftr-top-rgt {
	    width: 35%;
	}
	.ftr-top-lft{
		width: 65%;
	}

}

@media(max-width: 991px){
	.ftr-top-lft{
		width: 100%;
		padding-bottom: 20px;
	}
	.ftr-top-rgt{
		width: 50%;
	}
	.ftr-logo a{
		max-width: 180px;
	}
	.ftr-logo {
	    top: -60px;
	    left: -90px;
	}
	
}

@media(max-width: 767px){
	.ftr-top-rgt {
	    width: 60%;
	    padding-left: 110px;
    	padding-bottom: 80px;
	}
	.ftr-top-lft{
		display: none;
	}
	.ftr-btn-menu {
	    width: 100%;
	    text-align: center;
	    padding-bottom: 15px;
	}
	.ftr-copywrite {
	    width: 100%;
	    text-align: center;
	    padding-top: 15px;
	}
	.ftr-btm {
	    padding-top: 25px;
	    padding-bottom: 35px;
	}
}

@media(max-width: 575px){
	.ftr-top-rgt {
	    width: 70%;
	    padding-left: 100px;
	    padding-bottom: 40px;
	}
	.ftr-logo {
	    top: -50px;
	    left: -75px;
	}
	.ftr-logo a {
	    max-width: 150px;
	}
	.footer-wrp {
	    margin-top: 140px;
	}

}

@media(max-width: 479px){
	.ftr-top-rgt {
	    width: 75%;
	    padding-left: 90px;
	    padding-bottom: 40px;
	}
	.ftr-top-rgt-menu ul li a{
		font-size: 13px;
	}

}

@media(max-width: 359px){

}