.header{
	position: relative;
}

.header-top{
	
	background: #ffffff;
}
.hdr-top-inr{
	position: relative;
	padding: 18px 0 19px 0;
}
.hdr-logo{
	position: absolute;
	top: 9px;
	left: 0;
	z-index: 13;
}
.hdr-logo a{
	display: inline-block;
}
.hdr-top-inr ul{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0 -22px;
}
.hdr-top-inr ul li{
	padding: 0 22px;
	line-height: 1;
}
.hdr-top-inr ul li a{
	display: inline-block;
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #132f40;
}
.hdr-top-inr ul li.hdr-mail a{
	padding-left: 16px;
}
.hdr-top-inr ul li a:hover{
	color: #dc1f2e;
}
.hdr-top-inr ul li a i{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -1px 0 0 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.header-menu{
	background: #eff0f0;
}


nav.main-nav > ul{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-top: 11px;
}
nav.main-nav > ul > li{
	line-height: 1;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	color: #1a171b;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	padding-bottom: 11px;
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #dc1f2e;
}
nav.main-nav > ul > li:first-child > a{
	margin-left: 0;
}
nav.main-nav > ul > li:last-child > a{
	margin-right: 0;
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	right: -15px;
	top: 50%;
	height: 7px;
	width: 1px;
	background: #8a898a;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	margin: -3px 0 0 0;
}
nav.main-nav > ul > li:last-child > a:after{
	content: none;
}
nav.main-nav > ul > li > a:before{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	opacity: 0;
	content: "";
	background: #132f40;
	height: 5px;
	width: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 12;
}
nav.main-nav > ul > li > a:hover:before,
nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
	width: 100%;
	opacity: 1;
}
.header .container,
.header .container .row,
.header .container .col-md-12{
	position: static;
}


.mega-menu-cntrl{
	position: absolute;
	left: 0;
	right: 0;
	padding: 18px 0 17px 0;
	top: 100%;
	-webkit-transform: scale3d(1,0,1);
	-ms-transform: scale3d(1,0,1);
	transform: scale3d(1,0,1);
	transform-origin: top;
	opacity: 0;
	background: #dc1f2e;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 11;
}
nav.main-nav > ul > li.menu-item-has-children:hover .mega-menu-cntrl{
	-webkit-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	opacity: 1;
}
.mega-menu{

}
.mega-menu ul{
	display: flex;
	align-items: center;
}
.mega-menu ul li{
	line-height: 1;
	padding: 0 15px;
}
.mega-menu ul li:first-child{
	padding-left: 0;
}
.mega-menu ul li:last-child{
	padding-right: 0;
}
.mega-menu ul li a{
	display: inline-block;
	color: #fff;
}
.mega-menu ul li a:hover{
	color: #132f40;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
