.header{
	position: relative;
}
.header-left{
	position: absolute;
	top: 0;
	left: 0;
}
.hdr-logo{

}
.hdr-logo a{
	display: inline-block;
}
.header-top{

}
.hdr-top-inr{

}
.hdr-top-inr ul{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0 -22px;
}
.hdr-top-inr ul li{
	padding: 0 22px;
}
.hdr-top-inr ul li a{
	display: inline-block;
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #132f40;
}
.hdr-top-inr ul li.hdr-mail a{
	padding-left: 16px;
}
.hdr-top-inr ul li a:hover{
	color: orange;
}
.hdr-top-inr ul li a i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}



nav.main-nav > ul{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
nav.main-nav > ul > li{
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	color: #1a171b;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
nav.main-nav > ul > li:first-child > a{
	margin-left: 0;
}
nav.main-nav > ul > li:last-child > a{
	margin-right: 0;
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	right: -15px;
	top: 50%;
	height: 7px;
	width: 1px;
	background: #8a898a;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
nav.main-nav > ul > li:last-child > a:after{
	content: none;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
