.banner-sec{
	background-color: #132f40;
	position: relative;
}
.banner-sec.has-banner{
	background: transparent;
	height: 615px;
}
.banner-sec > div.banner-bg{
	display: none;
}
.banner-sec.has-banner > div.banner-bg{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner-desc{
	position: relative;
	min-height: 90px;
}
.has-banner .banner-desc{
	display: none;
}
.banner-title{
	font-size: 44px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

.company-sec{
	padding: 55px 0 60px 0;
}
.company-sec-inr{
	color: #303037;
}
.company-title{
	margin-bottom: 20px;
}


.hm-contact-sec{
	background: #eff0f0;
	border-bottom: 10px solid #d3d3d3;
}
.hm-contact-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hm-contact-desc{

}
.hm-contact-desc p{
	margin: 0;
	line-height: 1;
	color: #303037;
	font-weight: 300;
	font-size: 24px;
}
.hm-contact-items{
	margin-left: auto;
}
.hm-contact-items ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.hm-contact-items ul li{
	padding: 0 10px;
	line-height: 1;
}
.hm-contact-item{
	position: relative;
	padding: 5px 17px 5px 82px;
	min-height: 52px;
	background: #132f40;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-contact-item i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 20px;
}
.hm-contact-item i img{
	max-height: 42px;
}
.bg-sky{
	background: #0d6ec1;
}
.bg-sky:hover{
	background: #055090;
}
.bg-green{
	background: #0dc143;
}
.bg-green:hover{
	background: #069230;
}
.bg-blue{
	background: #132f40;
}
.bg-blue:hover{
	background: #215473;
}
.hm-contact-item-sub-title{
	display: block;
	color: #ffffff;
	font-size: 13px;
	margin-bottom: 3px;
	line-height: 1;
	text-align: center;
	font-weight: 400;
}
.hm-contact-item-title{
	display: block;
	color: #ffffff;
	font-size: 27px;
	margin-bottom: 0;
	line-height: 1;
}
.workshop-sec{
	padding: 55px 0 60px 0;
}
.Workshop-cntlr{

}
.workshop-desc{
	padding-bottom: 16px;
}
.Workshop-title{

}
.Workshop-tags{

}
.Workshop-tags ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.Workshop-tags ul li{
	padding: 0 13px;
	margin: 0 0 28px 0;
}
.Workshop-tags ul li a,
.Workshop-tags ul li span,
.Workshop-tags ul li a span{
	display: inline-block;
	padding: 10px 26px 9px 23px;
	background: #132f40;
	color: #fff;
	margin-bottom: 0;
	line-height: 1;
	font-size: 28px;
	text-transform: capitalize;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.Workshop-tags ul li a:hover,
.Workshop-tags ul li span:hover,
.Workshop-tags ul li a span:hover{
	background: #215473;
}


/*responsive*/
@media(max-width: 1199px){
	.banner-sec.has-banner{
		height: 500px;
	}
	.hm-contact-desc{
		width: 100%;
		margin-top: 15px;
	}
	.hm-contact-items ul{
		margin: 0 -5px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.hm-contact-items ul li{
		padding: 0 5px;
		margin: 0 0 10px 0;
	}
	.Workshop-tags ul{
		margin: 0 -10px;
	}
	.Workshop-tags ul li{
		padding: 0 10px;
		margin-bottom: 20px;
	}
	.banner-desc{
		min-height: 130px;
	}
	.company-sec,
	.workshop-sec{
		padding: 50px 0 45px 0;
	}
}
@media(max-width: 991px){
	.banner-sec.has-banner{
		height: 400px;
	}
	.banner-desc{
		min-height: 180px;
	}
	.company-sec,
	.workshop-sec{
		padding: 40px 0;
	}
}
@media(max-width: 767px){
	.banner-sec.has-banner{
		height: 300px;
	}
	.Workshop-tags ul{
		margin: 0 -5px;
	}
	.Workshop-tags ul li{
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.banner-desc{
		min-height: 220px;
	}
	.company-sec,
	.workshop-sec{
		padding: 30px 0;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.banner-sec.has-banner{
		height: 220px;
	}
	.banner-title{
		font-size: 40px;
	}
}
@media(max-width: 479px){
	
}
@media(max-width: 359px){
	
}