.ath-car-offer-enty-hdr{
	background: #eff0f0;
	padding-top: 32px;
}
.ath-car-offer-enty-hdr-ctlr{
	max-width: 1145px;
	width: 100%;
	margin: 0 auto;
}
.ath-car-offer-enty-hdr-inr{
	padding-left: 15px;
	padding-right: 15px;
}

.ath-coeh-title{
	display: block;
	font-size: 37px;
	line-height: 1;
	margin-bottom: 25px;
	font-weight: 600;
}

.ath-car-offer-enty-hdr-inr p{
	margin-bottom: 32px;
}



.border-btm{
	border-bottom: 42px solid #eff0f0;
}
.ath-car-grds-items-ctlr{
	max-width: 1145px;
	width: 100%;
	margin: 0 auto;
}
.ath-car-grds-items{
	padding-left: 15px;
	padding-right: 15px;
}
.ath-car-grd-item{
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ath-car-grd-item-img-ctlr{
	width: 33.6322%;
}
.ath-car-grd-item-des{
	width: 66.3677%;
	margin-left: 10px;
	margin-right: 10px;
}

.ath-car-grd-item-des-title{
	display: block;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 18px;
	padding-left: 15px;
	font-weight: 500;
	background: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 10px;
}
.ath-car-grd-item-des-title a{
	color: #2e2e2e;
}
.ath-car-grd-item-des-title a:hover{
	color: #dc1f2e;
}
.ath-car-grd-item-des p{
	padding-left: 15px;
	margin-bottom: 15px;
}

.ath-car-grd-item-des{
	position: relative;
	padding-bottom: 50px;
}
.ath-car-grd-item-catagory{
	position: absolute;
	right: 0;
	bottom: 0;
}
.ath-car-grd-item-catagory ul{
	margin-left: -3px;
	margin-right: -3px;
}
.ath-car-grd-item-catagory ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 3px;
	padding-right: 3px;
}
.ath-car-grd-item-catagory ul li span{
	display: inline-block;
	vertical-align: baseline;
	background: #949494;
	padding: 12px 22px;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
}
.ath-car-grd-item-catagory ul li span.black{
	background: #000;
	padding: 12px 15px;
}
.ath-car-grd-item-catagory ul li span.navyblue{
	background: #132f40;
	padding: 12px 45px;
}
.ath-car-grd-item-catagory ul li span.green{
	background: #0dc143;
	padding: 12px 32px;
}

.ath-car-grd-item-img{
	position: relative;
}
.ath-cgi-hover{
	padding-left: 100px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	padding-right: 25px;
	padding-top: 12px;
	padding-bottom: 10px;
	width: 230px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	visibility: hidden;
	opacity: 0;
}
.ath-cgi-hover-img{
	position: absolute;
	top: -10px;
	left: 12px;
	z-index: 12;
}
.ath-cgi-hover-img img{
	max-width: 72px;
}

.ath-cgi-hover-des{
	display: inline-block;
	vertical-align: baseline;
}
.ath-cgi-hover-des a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 19px;
	font-weight: 400;
	color: #2e2e2e;
	line-height: 1;
}


.ath-car-grd-item:hover .ath-car-grd-item-img > img{
	opacity: 0.6;
}
.ath-car-grd-item:hover .ath-cgi-hover{
	visibility: visible;
	opacity: 1;
}



.ath-car-btn{
	padding-top: 55px;
	padding-bottom: 50px;
	background: #eff0f0;
	border-bottom: 8px solid #d3d3d3;
}
.ath-car-btn-ctlr{
	max-width: 1145px;
	width: 100%;
	margin: 0 auto;
}
.ath-car-btn-inr{
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.ath-car-btn-inr em{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
}
.ath-car-btn-inr em a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 37px;
	line-height: 1;
	color: #132f40;
	text-align: center;
	font-weight: 700;
}
.ath-car-btn-inr em a:hover{
	color: #dc1f2e;
}

.ath-microcar-sec{
	padding-top: 45px;
	padding-bottom: 75px;
}

.ath-microcar-des-title{
	display: block;
	font-size: 37px;
	line-height: 1;
	margin-bottom: 22px;
	font-weight: 700;
}

.ath-microcar-des p{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 21px;
	margin-bottom: 20px;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	.ath-car-grd-item-catagory ul li span.black{
		padding: 12px 12px;
	}
	.ath-car-grd-item-catagory ul li span.navyblue {
	    padding: 12px 20px;
	}
	.ath-car-grd-item-catagory ul li span.green {
	    padding: 12px 10px;
	}
	.ath-car-grd-item{
		align-items: center;
	}
	.ath-microcar-des p{
		font-size: 19px;
	}
	.ath-microcar-sec{
		padding-bottom: 50px;
	}
}

@media(max-width: 767px){
	.ath-car-grd-item-img-ctlr{
		width: 100%;
	}
	.ath-car-grd-item-des{
		width: 100%;
	}
	.ath-car-grd-item{
		display: block;
		max-width: 420px;
	    width: 100%;
	    margin: 0 auto;
	}
	.ath-car-grds-items {
	    padding-left: 0;
	    padding-right: 0;
	}
	/*.ath-car-grd-item-des-title{
		margin-right: -20px;
	}*/
	.ath-car-grd-item-img img{
		width: 100%;
	}
	.ath-car-grd-item-catagory {
	    right: 15px;
	    bottom: 15px;
	}
	.border-btm {
	    border-bottom: 27px solid #eff0f0;
	}
	.ath-car-btn {
	    padding-top: 40px;
	    padding-bottom: 35px;
	}
	.ath-car-btn-inr em a{
		font-size: 34px;
	}
	.ath-microcar-sec {
		padding-top: 30px;
	    padding-bottom: 30px;
	}
	.ath-microcar-img{
		text-align: center;
	}
	.ath-microcar-des{
		padding-bottom: 30px;
	}
}

@media(max-width: 575px){
	.ath-car-grd-item-des-title{
		font-size: 20px;
	}
	.ath-car-btn {
	    padding-top: 30px;
	    padding-bottom: 25px;
	}
	.ath-car-btn-inr em a {
	    font-size: 27px;
	}
	.ath-microcar-des-title{
		font-size: 34px;
		margin-bottom: 18px;
	}
	.ath-microcar-sec{
		padding-bottom: 0;
	}

}

@media(max-width: 479px){
	.ath-car-grd-item-des-title{
		margin-right: -20px;
	}

}

@media(max-width: 359px){

}